*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

img {
    margin: 0;   
}

input {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(255, 228, 196, 0.5)
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.meme-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.meme-block {
    color: blue;
}

.meme-block__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    /* border-top: .1rem solid rgba(0, 0, 0, 0.1); */
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.meme-block__container:first-of-type {
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
}

.main__meme-block:hover {
    color: black;
}

.main__meme-block:hover .meme-block__container .meme-block__title .meme-block__button {
    opacity: 1;
}


.meme-block__container:hover .meme-block__title .meme-block__button {
    transform: rotate(45deg);
}

.meme-block__container:hover .meme-block__img {
    height: 40vh;
    background-size: 100% 100%;
    opacity: 1;
}

.meme-block__container:active {
    color: blue;
    opacity: .5;
}

.meme-block__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .5s;
    cursor: pointer;
}

.meme-block__button {
    opacity: 0;
    font-size: 3rem;
    font-weight: 700;
    transition: all .5s;
}

.meme-block__img {
    /* display: none; */
    background-image: url(./assets/img/deadline.svg);
    width: 100%;
    background-position-x: center;
    background-size: 0% 0%;
    opacity: 0;
    background-repeat: no-repeat;
    transition: all .5s;
}

.meme1 {
    background-image: url(./assets/img/deadline.svg);
}

.meme2 {
    background-image: url(./assets/img/everythingworks.svg);
}

.meme3 {
    background-image: url(./assets/img/bug.svg);
}

.meme4 {
    background-image: url(./assets/img/nomentor.svg);
}

.meme5 {
    background-image: url(./assets/img/git.svg);
}

.check:checked + .meme-block__container .meme-block__title {
    color: black;
}

.check:checked + .meme-block__container .meme-block__title .meme-block__button {
    color: black;
    transform: rotate(45deg);
}


.check:checked + .meme-block__container .meme-block__title .meme-block__img {
    height: 40vh;
    background-size: 100% 100%;
    opacity: 1;
}

@media (max-width: 830px) {
    .meme-block__title {
        font-size: 1.2rem;
    }
    
    .meme-block__button {
        font-size: 2rem;
    }

    .meme-block__title {
        display: block;
        text-align: center;
    }

    .meme-block__button {
        display: flex;
        justify-content: center;
    }

    .main__meme-block {
        color: black;
    }
    
    .main__meme-block .meme-block__container .meme-block__title .meme-block__button {
        opacity: 1;
    }
    
/* 
    .main__meme-block:hover {
        color: black;
    }
    
    .main__meme-block:hover .meme-block__container .meme-block__title .meme-block__button {
        opacity: 1;
    } */
    
}

@media (max-width: 330px) {
    .meme-block__title {
        font-size: 1rem;
    }
    
    .meme-block__button {
        font-size: 1.5rem;
    }
}